.wrapper {
    width: 50%;
    margin: 100px auto;
    box-shadow: 0px 6px 12px rgb(0, 7, 7);
    padding: 50px 20px;
    border: 15px solid rgb(48, 9, 2);
    text-align: center;
    background-image: linear-gradient(214deg, #97dfe0 14%, #f29df2 46%, #47ae8a 86%);
    outline-style: dashed;
    outline-color: rgb(15, 8, 1);
}

.inputs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.input-field {
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    box-shadow: 0x 2px 4px rgb(49, 12, 107);
    font-size: 16px;
    font-weight: 500;
    width: 50%;
    margin: auto;
    outline-style: solid;
    outline-color: #0d1d0d;
}

.w-100 {
    width: 100%;
}

#input-number {
    width: 30%;
    font-size: 20px;
}

button {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: rgba(230, 19, 19, 0.401);
    color: rgb(13, 0, 0);
    margin: auto 12px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
}

button:hover {
    box-shadow: 0px 2px 4px rgb(1, 29, 30);
    background-color: #0d1d0d;
    color: white;
}

#result-box {
    color: rgb(1, 1, 17);
    font-size: 30px;
    font-weight: 600;
}